.contact {
    display: flex;
    padding: 80px 0;
    background-color: #3E369A;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media($medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        font-size: 4rem;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;

        @media($medium) {
            text-align: left;
        }
    }

    &__description {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.5rem;
        text-align: center;

        @media($medium) {
            text-align: left;
        }
    }

    &__btn {
        margin-top: 25px;
    }
}