.testimonials {
    display: flex;

    padding: 100px 0;
    position: relative;

    @media($medium) {
        min-height: 100vh;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;


        @media($medium) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__content {
        height: 50%;
        padding: 20px 0;

        @media($medium) {
            padding: 0;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 25px 0 40px;

        &__item {
            width: 80px;
            height: 80px;
            margin-left: -15px;
            border-radius: 50%;
            border: 5px solid white;
            box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
            background-color: #EAA36E;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 500;
            color: #fff;
        }

        &__picture {
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media($medium) {
            width: 50%;
            height: 100%;
        }
    }

    &__card {
        background-color: #fff;
        box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        padding: 70px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        max-width: 400px;
        position: relative;
        margin: 80px auto 0 auto;

        @media($small) {
            max-width: 450px
        }

        @media($medium) {
            max-width: 500px;
            padding: 90px 20px 50px 20px;
            margin: 0;
        }

        &-picture {
            position: absolute;
            top: -15px;
            left: 30px;
            width: 75px;
            height: 75px;

            @media($medium) {
                top: -18px;
                left: 30px;
                width: 90px;
                height: 90px;
            }
        }

        &-title {
            font-size: 2rem;
            font-weight: 500;
            line-height: 28px;
        }

        &-subtitle {
            display: block;
            font-size: 1.2rem;
            color: rgba(51, 51, 51, 0.5);
            margin: 5px 0 15px;
        }

        &-description {
            font-size: 1.2rem;

            @media($medium) {
                font-size: 1.4rem;
            }
        }
    }

    &__title {

        @media ($small) {
            max-width: 600px;
        }
    }
}